// DEV MODE
border()
    border: 1px dashed black

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: bg-color;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    flex-direction: column;
}

.main {
    flex: 1;
}
