// projects

.projects {
    width: 100%;
}
.projects-list {
    border()
    display flex;
    flex-wrap wrap;
    width: 100%;
}
.projects-list .heading-lv1 {
    margin: 20px 0;
}
.project {
    border()
    background: white;
    width: calc(50% - 10px);
    display: flex;
    flex-wrap wrap;
    padding: 10px;
    margin: 5px;
}
@media screen and (max-width: 590px) {
    .project {
        width: calc(100% - 10px);
    }
}
.project-name {
    color: secondary-color;
    font-weight 300;
    margin: 0;
}
.project-start {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.project-star-count {
    color: secondary-color;
    margin-left: 5px;
}
.project-description {
    color: secondary-color;
    margin: 10px 0 0 0;
    width: 100%;
}


