header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item
                    a.menu-link(href="#") Home
                li.menu-item
                    a.menu-link(href="#") Perfil
        .profile
            img.profile-img(src="assets/imgs/lucas-mini.jpg", alt="Lucas Augusto Perfil")
            span.profile-text Lucas Augusto
