// Colors
hightligth-color = #ff0066
secondary-color = #212121
bg-color = #333

// DEV MODE
border()
    border: 1px solid black


// Box model
* {
    box-sizing: border-box;
}

.container {
    border()
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

// PARTIALS
@import 'partials/header.styl'
